body{
    background-color: rgb(255, 243, 243);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', 'Times', serif;

    font-weight: lighter;
    font-size: small;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 4cm;


}
